$breakpoints: (
    sm: 600px,
    md: 815px,
    lg: 990px,
    xl: 1200,
    xxl: 1400px
);

$yellow: #FFD400;
$purple: #7876C1;
$green: #8ABEAC;
$darkGreen: #6A9B97;

$greenLight: #AFE4D8;

$maxWidth: 1200px;

