* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.home {
    background-color: $yellow;
}

body.page-template-template-membership,
body.error404 {
    background-color: $purple;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
